
@{
    Layout = "~/Views/RSMater.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div class="pageheader">
    <h2><i class="fa fa-home">万亿科技有限公司</i> 员工入职</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a onclick="ShowRuZhi()">员工入职</a></li>
            <li><a onclick="ShenState()">入职审核状态</a></li>
            <li><a onclick="ShenReuslt()">入职审核结果</a></li>
        </ol>
    </div>
    <div id="RuZhi" class="breadcrumb-wrapper" style="position:absolute; background-color:whitesmoke; width:770px;height:500px;margin-top:200px;margin-right:-25px">
        @using (Html.BeginForm())
        {

        }
    </div>
    <div id="RuZhiShenHe" class="breadcrumb-wrapper" style="position:absolute; background-color:whitesmoke; width:770px;height:500px;margin-top:200px;margin-right:-25px">
        @using (Html.BeginForm())
        {

        }
    </div>
    <div id="ShenHeResult" class="breadcrumb-wrapper" style="position:absolute; background-color:whitesmoke; width:770px;height:500px;margin-top:200px;margin-right:-25px">
        @using (Html.BeginForm())
        {

        }
    </div>
    <script>
        $()
        {
            $("#RuZhi").hide();
            $("#RuZhiShenHe").hide();
            $("#ShenHeResult").hide();
        }
        function ShowRuZhi() {
            $("#RuZhi").show()
            $("#RuZhiShenHe").hide();
            $("#ShenHeResult").hide();
        }
        function ShenState() {
            $("#RuZhiShenHe").show()
            $("#RuZhi").hide()
            $("#ShenHeResult").hide();
        }
        function ShenReuslt() {
            $("#ShenHeResult").show()
            $("#RuZhiShenHe").hide()
            $("#RuZhi").hide()
        }
    </script>
</div>


