
@{
    Layout = "~/Views/RSMater.cshtml";
}
<div class="pageheader">
    <h2><i class="fa fa-home">万亿科技有限公司</i> 员工请假</h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="index.html">员工请假</a><span class="badge" style="background-color:red">1</span></li>
            <li><a href="index.html">请假审核结果</a></li>
        </ol>
    </div>
</div>
