
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打卡界面</title>
    <link href="~/css/body.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body style=" background-image: url('../../Image/cloud.jpg');background-size: contain">

    <br />
    <br />
    <div class="container">
        <section id="content">
            <form action="Punch" method="post">

                <h1>万亿打卡系统</h1>
                <div>
                    <input type="text" placeholder="工号" required="" id="username" name="JobNumber" />
                </div>
                <div>
                    <input type="password" placeholder="密码" required="" id="password" name="StaffPassword" />
                </div>
                <div class="">
                    <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>

                </div>
                <div>
                    <input type="submit" value="打卡" class="btn btn-primary" id="js-btn-login" style="margin-left:120px;" />

                </div>
            </form><!-- form -->
            <div class="button">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
                <span>缠着衣角掠熙攘</span>&nbsp;&nbsp;<span>复俏入红帘深账</span>
            </div> <!-- button -->
        </section><!-- content -->
    </div>
    <!-- container -->


    <br /><br /><br /><br />
                      <div style="text-align:center;">

                          <span>来源:More Money 万亿集团 - Collect from  WANYI IS BestOne </span>
                          <br />
                          <br />
                          <span>万亿集团科技有限公司</span>
                      </div>

</body>
</html>